.container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.subcontainer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 20px;
}

.popup {
    color: green
}