.box {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 3px black;
    background-color: #fff;
    width: 100%;
    display: flex;
    padding: 20px;
    margin-bottom: 30px;
    justify-content: space-between;
  }
  
  .left-box {
    width: 200px;
    height: 200px;
    border-radius: 4%;
    background-image: url(https://i.kym-cdn.com/entries/icons/original/000/026/152/gigachad.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .center-box {
    margin-left: 20px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
  }
  
  .field {

    font-family: Georgia;
    font-style: italic;
    font-size: 25px;
    margin-top: 10px;
  }
  .hello p {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  button {
    background-color: #FFA500;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: Georgia;
    font-style: italic;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #FF8C00;
  }

  