.login {
    background-color: #f0f8ff;
    padding: 40px;
    font-family: Georgia;
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 18px;
}

.container{
    background-color: #f0f8ff;
    font-family: Georgia;
    display: flex;
    justify-content: center;
    margin: 5vh;
}