.card{
    position: relative;
    width: 600px;
    padding: 20px;
    max-width: 85vw;
    height: 50vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 10px 30px 0px gray !important;
}

.card > h1{
    position: absolute;
    bottom: 10px;
}

.cardContainer {
    display: flex;
    padding: 40px;
    font-family: Georgia;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.studentCards__container{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.swipe{
    position: absolute;
}

.button__Container{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}